<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <fieldNames>
                <level>severity</level>
            </fieldNames>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="STASH" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
